<!-- card  -->
<!-- card -->
<div class="cards">
    <!-- card1 -->
    <mat-card>
        <app-card bg="orange" icon="person" decription="student" count="2000"></app-card>
      </mat-card>

      <!-- card2 -->
      <mat-card>
        <app-card bg="red" icon="home" decription="institution" count="5000"></app-card>
      </mat-card>

      <!-- card3 -->
      <mat-card>
        <app-card bg="green" icon="groups" decription="employee" count="1000"></app-card>
      </mat-card>

      <!-- card4 -->
      <mat-card>
        <app-card bg="blue" icon="dashboard" decription="placement" count="1500"></app-card>
      </mat-card>
    
</div>

<!-- areachart  -->

<div>
    <app-areachart></app-areachart>
</div>
<!-- table and piechart  -->
<div class="tablepie">

    <div>
        <!-- table  -->
        <app-table></app-table>
    </div>
    <div>
        <!-- pie chart  -->
        <app-piechart></app-piechart>
    </div>

</div>